$h1-size: 3rem; // equiv "28px"
$h2-size: 2.2rem; // equiv "24px"
$h3-size: 1.5rem; // equiv "20px"
$h4-size: 1.25rem; // equiv "18px"
$h5-size: 1.125rem; // equiv "16px"

$p-size: 1rem;

$bold: 700;
