// Heading Sizes
$h1-size: 3rem; // equiv "28px"
$h2-size: 2.2rem; // equiv "24px"
$h3-size: 1.5rem; // equiv "20px"
$h4-size: 1.25rem; // equiv "18px"
$h5-size: 1.125rem; // equiv "16px"

//P Sizes
$largeP-size: 1.25rem;
$p-size: 1rem;

// Font Weights
$extraBold: 900;
$bold: 700;
$normal: 300;
$light: 300;

// Margins
$margin-1: 1rem;
$margin-2: 2rem;
$margin-3: 3rem;
$margin-4: 4rem;
$margin-5: 5rem;
$margin-6: 6rem;
$margin-7: 7rem;
$margin-8: 8rem;
